html, body {
	font-family: 'Arial', sans-serif;
	background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	margin: 0;
	min-height: 100%;
}

.inputField label {
	display: block;
	margin-bottom: 5px;
	margin-top: 7px;
	font-weight: bold;
	color: #444;
}

.inputField input {
	width: 100%;
	padding: 12px;
	border: 1px solid #ddd;
	border-radius: 6px;
	box-sizing: border-box;				/* poprawia pozycjonowanie (padding nie przylega do prawej granicy kontenera) */
}

.inputField textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    
    resize: vertical;      				/* Pozwala rozciągać tylko w górę i w dół (najbezpieczniejsze dla układu) */
    min-height: 80px;      				/* Minimalna wysokość startowa */
}

.successMessage {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.errorMessage {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: sans-serif;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

/* ------ UNIKATOWY STYL DLA STRONY LOGOWANIA ------ */

/* LOGIN BODY */
.loginWindow body, html{
	height: 100%;	
}

.loginWindow {
	display: flex;
	justify-content: center;
	align-items: center;
} 

/* LOGO */
.loginContainer {
	background: #fff;
	width: 50%;
	max-width: 400px;			
	border-radius: 12px;					/* zaokrąglenie rogów */
	box-shadow: 0 8px 24px #0000009a;		/* cien */
	overflow: hidden;						/* chowamy wychodzenie za diva */
	display: flex;
	flex-direction: column;
}

.logoSection {
	padding: 40px 20px;
	text-align: center;
    background-color: #f8f9fa;
    border-bottom: 1px solid #eee;
}

.appLogo {
	max-width: 350px;
	height: auto;
}

/* FORMULARZ */
.loginInputsSection {
	padding: 30px;
}

/* przyciski */
.customBtn {
	margin-top: 50px;
	width: 100%;
	padding: 12px;
	background-color: #4e58c8;
	color: #fff;
	border: 1px solid #4e18c8;
	border-radius: 6px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background 0.3s;
}

.customBtn:hover {
    background-color: #3f44a1;
}

.forgotPasswordBtnLink {
	display: block;						/* pozwoli nam na ustawienie szerokosci badz marginesow */
	width: 100%;
	margin-top: 6px;
	padding: 10px 0;
    color: #666;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
	text-align: center;
}

.forgotPasswordBtnLink:hover {
    color: #4e54c8;
}

/* ------ UNIKATOWY STYL DLA STRONY GLOWNEJ ------ */

.mainPage {
	display: flex;
	flex-direction: column;
	background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

/* NAVBAR */
.topPageNavBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #F5F5F5;
	padding: 0 30px;
	height: 70px;
	box-shadow: 0 8px 16px #0000009a;
	position: sticky;
	z-index: 1000;
}

/* LOGO */
.navLogo {
	height: 60px;
}

/* NAWIGACJA (HYPERLINKS) */
.navCenter {
	display: flex;
	gap: 10px;
}

.navLink {
	text-decoration: none;
	color: #ffcc00;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 5px;
	transition: 0,3;
	background: #FFF;
	color: black;
	border: 1px solid #bababa;
	cursor: pointer;
}

.navLink:hover, .navLink.active {
	background: linear-gradient(135deg, #ffcc00 0%, #fda085 100%);
    color: black;
}

/* PRAWA STRONA NAV BAR (USTAWIENIA - ROZWIJANE MENU) */
.navSettings {
	position: relative;
	display: inline-block;
}

.dropBtn {
	background: #f8f9fa;
	border: 1px solid #bababa;
	padding: 11px 20px;
	font-weight: bold;
	border-radius: 20px;
	transition: 0,3;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
}

.dropBtn:hover {
	background: linear-gradient(135deg, #ffcc00 0%, #fda085 100%);
    color: black;
}

.dropContent {
	display: none;						/* bez tego , zawartosc menu wyswietla sie bezposrednio w nav barze */
	position: absolute;					/* zmieniamy sposob "wyswietlania" - poprawiamy pozycjoinowanie*/
	background-color: #fff;
    box-shadow: 0px 8px 16px #0000009a;
    border-radius: 8px;
	overflow: hidden;
	right: 0;
}

.navSettings:hover .dropContent {
    display: block;
}

.dropContent a {
	color: #333;
	padding: 12px 16px;
    text-decoration: none;
	display: block;
	transition: 0.3s;
}

.dropContent a:hover {
	background: linear-gradient(135deg, #ffcc00 0%, #fda085 100%);
    color: black;
}

.logoutLink {
	color: red !important;
}


/* STRONA GLOWNA SEKCJA 'CONTENT' */

.mainContent {
	padding: 40px;
	max-width: 1200px;
	margin: 0 auto;
	flex: 1 !important;
}

.welcome {
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 18px;
} 

.dashboard {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	text-align: center;
}

.dashboardInfoCard {
	background: #F5F5F5;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 8px 16px #0000009a;
}

.dashboardStatNo {
	font-size: 28px;
	font-weight: bold;
	color: #764ba2;
}

.mainFooter {
    text-align: center;
    background: #F5F5F5;
    color: #black;
    font-size: 16px;
    margin-top: auto;
	width: 100%;
	box-shadow: 0px 8px 16px 8px #0000009a;
}

/* STYLE DLA STRONY DO ODZYSKIWANIA / PRZYPOMINANIA HASLA */

.remindPasswordWindow {
	display: flex;
	justify-content: center;
	align-items: center;
} 

.remindPasswordContainer {
	background: #fff;
	width: 50%;
	max-width: 400px;			
	border-radius: 12px;					/* zaokrąglenie rogów */
	box-shadow: 0 8px 24px #0000009a;		/* cien */
	overflow: hidden;						/* chowamy wychodzenie za diva */
	display: flex;
	flex-direction: column;
}

.remindPasswordInputSection {
	padding: 30px;
}

/* STYLE DLA STRONY PANEL ADMINISTRACJI */

.secondaryMenu {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #F5F5F5;
	padding: 0 30px;
	height: 60px;
	box-shadow: 0 4px 8px #0000004a;
	top: 70px;
	z-index: 999;
	width: 100%;
    box-sizing: border-box;
}

.mainPageAdmin .mainContent {
    padding-top: 0;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.adminContentInner {
	padding: 40px;
}

.secondaryMenuItems form {
    display: flex;
    gap: 10px;
    margin: 0;
}

/* PANEL ADMINISTRACJI SEKCJA WYSWIETLANIA UZYTKOWNIKOW */

.usersTable {
	width: 100%;
	border-collapse: collapse;
	background: #F5F5F5;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 8px 16px #0000009a;
	font-family: 'Arial', sans-serif;
}

/* NAGLOWKI */

.usersTable th {
	background: linear-gradient(135deg, #ffcc00 0%, #fda085 100%);
	color: black;
	padding: 14px 12px;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
}

/* KOMORKI */

.usersTable td {
	padding: 12px;
	border: 1px solid #aaa;	
	font-size: 15px;
	text-align: center;
}

.usersTable tr:hover td {
	background-color: #d3d3d3;
	transition: background 0.3s;
}

/* PRZYCISKI W TABELI */
.tabButton {
	border-color: #aaa;
	background: #ddd;
	font-size: 15px;
	cursor: pointer;
}

.tabButton:hover {
	border-color: #bbb;
	background: #eee;
	font-size: 15px;
	cursor: pointer;
}

.tabButton.edit {
	color: #0051FF;
}

.tabButton.delete {
	color: #C20000;
}

/* USUWANIE UZYTKOWNIKOW */

.deleteContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2000;
}

.modalWindow {
	background: #F5F5F5;
	padding: 30px;
	border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
    max-width: 400px;
    width: 100%;
    border-top: 8px solid #C20000; 											/* Czerwony pasek ostrzegawcz */
}

.modalButtons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.customBtn.danger {
    background-color: #C20000;
    border-color: #a00000;
}

.customBtn.danger:hover {
    background-color: #900000;
}

.customBtn.secondary {
    background-color: #6c757d;
    border-color: #545b62;
}

.customBtn.secondary:hover {
    background-color: #5a6268;
}

/* REJESTRACJA */

.registrationContainer {
	background: #fff;
	width: 80%;
	max-width: 500px;
	margin: 70px auto;
	border-radius: 12px;
    box-shadow: 0 8px 24px #0000009a;
    overflow: hidden;
    display: flex;
    flex-direction: column;
	max-width: 500px;
}

.registrationInputSection {
	padding:30px;
}


/* STYLE DLA STRONY KLIENCI */

.clientTable {
	width: 100%;
	border-collapse: collapse;
	background: #F5F5F5;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 8px 16px #0000009a;
	font-family: 'Arial', sans-serif;
}

/* NAGLOWKI */

.clientTable th {
	background: linear-gradient(135deg, #ffcc00 0%, #fda085 100%);
	color: black;
	padding: 14px 12px;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
}

/* KOMORKI */

.clientTable td {
	padding: 12px;
	border: 1px solid #aaa;	
	font-size: 15px;
	text-align: center;
}

.clientTable tr:hover td {
	background-color: #d3d3d3;
	transition: background 0.3s;
}

/* --- STYL DLA STRONY ZAMOWIENIA (orders.php) --- */

/* FILTROWANIE */

.filterSection {
    background: #F5F5F5;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 5px;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.inlineForm {
    display: flex;
    align-items: center;
    gap: 10px;
}

.inlineForm label {
    font-weight: bold;
    color: #black;
}

.inlineForm input[type="date"] {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* TABELA */

.ordersTable {
	width: 100%;
	border-collapse: collapse;
	background: #F5F5F5;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 8px 16px #0000009a;
	font-family: 'Arial', sans-serif;
}

/* NAGLOWKI */

.ordersTable th {
	background: linear-gradient(135deg, #ffcc00 0%, #fda085 100%);
	color: black;
	padding: 14px 12px;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
}

/* KOMORKI */

.ordersTable td {
	padding: 12px;
	border: 1px solid #aaa;	
	font-size: 15px;
	text-align: center;
}

.ordersTable tr:hover td {
	background-color: #d3d3d3;
	transition: background 0.3s;
}

/* --- STYLE DLA STRONY CLIENTS --- */
.clientSelect {
	width: 100%;
	padding: 12px;
	border: 1px solid #ddd;
	border-radius: 6px;
	box-sizing: border-box;
}

/* --- STYLE DLA STORNY PROFILOWEJ --- */

.userProfileCard {
    display: flex;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 24px #0000009a;
    overflow: hidden;
    margin: 0 auto;
}

/* LEWA STRONA */
.userProfileLeft {
    flex: 1;
    background-color: #f8f9fa;
    border-right: 1px solid #eee;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profileAvatarContainer {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    overflow: hidden;
    margin-bottom: 20px;
}

.profileAvatarContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileDisplayName {
    font-size: 22px;
    margin-bottom: 5px;
    color: #764ba2;
	
}

.profilePositionTag {
    color: #764ba2;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

/* PRAWA STRONA (FORMULARZ) */
.userProfileRight {
    flex: 2;
    padding: 40px;
}

.formSectionTitle {
    font-size: 18px;
    color: #444;
    margin-bottom: 15px;
    margin-top: 0;
}

.inputRow {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.inputRow .inputField {
    flex: 1;
}

.formDivider {
    border: 0;
    border-top: 1px solid #eee;
    margin: 25px 0;
}

/* Responsywność */
@media (max-width: 850px) {
    .userProfileCard {
        flex-direction: column;
    }
    .userProfileLeft {
        border-right: none;
        border-bottom: 1px solid #eee;
    }
}

/* --- STYLE DLA MODUŁU ZAŁADUNKÓW (LOADING.PHP) --- */

/* SEKCJA WYBORU DATY */
.datePickerModalWindow {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 24px #0000009a;
    margin: 50px auto;
    text-align: center;
	width: auto;
}

.datePickerModalWindow h3 {
    margin-top: 0;
    color: #black;
    margin-bottom: 20px;
}

/* SEKCJA WYBORU ZALADUNKOW */
h2.specialLoadingHeader {
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    margin-bottom: 20px;
    border-left: 5px solid #ffcc00;
    padding-left: 15px;
	display: block;
}


.customTable {
	width: 100%;
	border-collapse: collapse;
	background: #F5F5F5;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 8px 16px #0000009a;
	font-family: 'Arial', sans-serif;
}

/* NAGLOWKI */

.customTable th {
	background: linear-gradient(135deg, #ffcc00 0%, #fda085 100%);
	color: black;
	padding: 14px 12px;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
}

/* KOMORKI */

.customTable td {
	padding: 12px;
	border: 1px solid #aaa;	
	font-size: 15px;
	text-align: center;
}

.customTable tr:hover td {
	background-color: #d3d3d3;
	transition: background 0.3s;
}

.rowLoaded {
    background-color: #d4edda !important; /* Jasnozielony dla załadowanych */
}

/* PRZYCISKI AKCJI W TABELI */

.actionBtn {
    display: inline-block;
    padding: 8px 15px;
    background: #4e58c8;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    transition: 0.3s;
}

.actionBtn:hover {
    background: #3f44a1;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.customBtn.small {
    margin-top: 0;
    padding: 6px 12px;
    font-size: 12px;
    width: auto;
}

/* --- PRZYCISK POWROTU --- */

.customBtn.secondary {
    display: inline-block;
    width: auto;
    padding: 12px 25px;
    text-decoration: none;
    text-align: center;
}

/* --- KROPKI STATUSY --- */
.statusDot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.dotRed {
    background-color: #ff4d4d; 							/* Czerwony kolor */
    border: 2px solid #b30000;
}

.dotGreen {
    background-color: #2ecc71; 							/* zielony kolor */
    border: 2px solid #1e8449;
    box-shadow: 0 0 8px rgba(46, 204, 113, 0.5); 		/* tworzy taka ala poswiate dla zaladowanego */
}